/*=============== GOOGLE FONTS ================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES ================*/

:root {
    --font-family: Poppins, sans-serif;
    --font-size-title: 2rem;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: black;
    --secondary-color: #4756df;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/*=============== CSS RESETS ================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
}

body {
    font-family: var(--font-family);
}

/*=============== NAVBAR ================*/

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#nav__logo {
    color: var(--primary-color);
    font-size: 1.3rem;
}

#navbar a {
    color: var(--secondary-color);
    transition: var(--transition);
}

#navbar a:hover, #nav__logo:hover{
    color: var(--primary-color)
}

.nav-list {
    display: flex;
    gap: 1.9rem;
}

.nav-list li {
    font-weight: var(--bold-font);
    font-size: 1.1rem;
}

.nav-list i {
    font-style: normal;
}


.burger-menu {
    color: var(--secondary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/*=============== HERO ================*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.5rem;
    margin: auto;
    padding-top: 3rem;
}

.hero img {
    height: 30rem;
    width: 30rem;
}

.bio {
    width: 40rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
    text-align: center;
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    font-size: 1.2rem;
    text-align: center;
}

/*=============== SKILLS ================*/

#skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 7rem;
}

#skill-header {
    margin-bottom: 1rem;
    font-size: var(--font-size-title);
}

.skills-container img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.icon-card:hover {
    transform: scale(1.1);
}

/*=============== PROJECTS ================*/

#projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    padding-top: 6rem;
}

#projects-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: var(--font-size-title);
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.project-card {
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.project-card img {
    max-width: 100%;
    height: 150px;
    width: 200px;
}

.project-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-size: 0.9rem;
    color: #555;
}

.project-card .btn-card {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3649f5;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.project-card .btn-card:hover {
    background-color: #2a3aaf;
}


.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/*=============== HERO IDEA ================*/
#hero-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 6rem;
}

#hero-idea-header h2 {
    font-size: 4rem;
}

#hero-idea-header p {
    font-size: 1.5rem;
    color: gray;
}


/*=============== CONTACT ================*/

#contact {
    margin-top: 2rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--secondary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 1rem;
    border: none;
    border: 2px outset var(--secondary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--secondary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    color: white
}

/*=============== SOCIAL NETWORKS ================*/

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease-out;
}

.socicon:hover {
    transform: scale(1.3);
}

/*=============== FOOTER ================*/

footer {
    background-color: var(--bg-color);
    padding: 0.5rem;
    text-align: center;
    margin: 2rem 0 0;
    border-top: 2px solid gray;
}

footer p {
    color: #b66c6c;
}

/*=============== ARROW TO SCROLL UP =============== */

#scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

/*=============== RESPONSIVE WEB DESIGN 720px ================*/

@media screen and (max-width: 720px) {

    /*=============== NAVBAR ================*/

    nav {
        padding: 1.5rem 1rem;
    }

    #navbar #nav__logo {
        font-size: 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 73px;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-out;
    }

    #navbar ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    /*=============== HERO ================*/

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
       max-width: 100%;
    }

    .bio {
        margin-top: -7rem;
        width: 20.5rem;
    }

    /*=============== SOCIAL NETWORKS ================*/

    .socials {
        position: absolute;
        flex-direction: row;
        right: 21%;
        top: 17%;
        /* display: none; */
    }

    .socicon {
        width: 3rem;
        height: 3rem;
        transition: transform 0.3s ease-out;
    }

    .socicon:hover {
        transform: scale(1.3);
    }

    #scroll-up {
        display: none;
    }

    /*=============== SKILLS ================*/

    .icon {
        width: 5.875rem;
        height: 5.25rem;
    }

    /*=============== PROJECTS ================*/

    #projects-container {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }

    /*=============== HERO IDEA ================*/

    #hero-idea h2 {
        font-size: 2.5rem;
    }

    /*=============== CONTACT FORM ================*/

    .contact-form-container {
        max-width: 23.75rem;
    }
}

